[data-theme='geek'] {
  --color-bg: #000000;
  --color-bg-lighter: #c9c5c5;
  --color-light-shadow: #d6d6d6;
  --color-fg: #00ff00;
  --color-fg-darker: #003300;
  --color-accent: cyan;
  --color-error: #ff5555;
  --color-success: #00aa00;
  --color-main: magenta;
  --color-link: #89039b;
  --color-accent-bis: orange;
  --color-mascot: #dd53bb; 
  --font-main: 'VT323', monospace;
  --radius: 0;
}

[data-theme='badarts'] {
  --color-bg: #faead8;              /* très clair, doux, apaisant */
  --color-bg-lighter: #313131;      /* pour contraste propre */
  --color-light-shadow: #eba952;    /* ombre légère, subtile */
  --color-fg: #1e293b;              /* texte principal, sombre mais doux */
  --color-fg-darker: #eba952;       /* texte secondaire */
  --color-accent: #0e7490;          /* bleu-vert moderne, punchy */
  --color-error: #f87171;           /* rouge doux mais visible */
  --color-success: #34d399;         /* vert menthe, frais et positif */
  --color-main: #232a6a;            /* turquoise moderne, identitaire */
  --color-link: #3b82f6;            /* bleu dynamique pour les liens */
  --color-accent-bis: #232a6a;      /* variante plus foncée du main */
  --color-mascot: #dd53bb; 
  --font-main: 'Inter', sans-serif;
  --radius: 8px;
}


